.recipe-search{
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

.recipe-search .top{
  text-align: left;
  margin-bottom: 10px;
}

.recipe-search .top input{
  width: 60%;
}
.recipe-search .masonry-brick {
  width: 33%;
  display: none;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  background: #000;
}
.recipe-search .masonry-brick.loaded {
  display: block;
}
.recipe-search .masonry-brick > img {
  width: 100%;
  position: relative;
  z-index:6;
  transition: all 1s ease-in-out;
  display: block;
}
.recipe-search .masonry-brick > img:hover{
  transform:scale(1.1,1.1);
  z-index:2;
  opacity: 0.8;
}
.recipe-search .masonry-brick > .recipe-title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  pointer-events: none;
  color: #fff;
}
