<div class="container create-recipe">
  <step-line graph="rcpCreate.lineGraph" steps="rcpCreate.stepsInfo"
             current="rcpCreate.currentStep.number"
             step-clicked="rcpCreate.goTo"
             ng-hide="rcpCreate.stepInformation"></step-line>
  <!-- Recipe information -->
  <div ng-show="rcpCreate.stepInformation">
    <h2 class="title">Create a recipe</h2>
    <div class="recipe-title">
      <label>
        Recipe name
        <input type="text" ng-class="{'input-error' : rcpCreate.errors.name}" ng-model="rcpCreate.recipe.name"
               placeholder="Enter the name of your recipe" />
      </label>
      <br /><span class="error-details">{{rcpCreate.errors.name}}</span>
    </div>
    <p>
      This is a dish for
      <input type="number" min="1" class="input top-input" placeholder="Nb" ng-model="rcpCreate.recipe.nbPerson"
             ng-class="{'input-error': rcpCreate.errors.nbPerson}" /> persons
      and take
      <input type="number" min="1" class="input top-input" placeholder="Nb" ng-model="rcpCreate.recipe.time"
             ng-class="{'input-error': rcpCreate.errors.time}" /> mins to cook.
      <br /><span class="error-details">{{rcpCreate.errors.nbPerson}} {{rcpCreate.errors.time}}</span>
    </p>
    <p>
      Course:
      <select ng-model="rcpCreate.recipe.course" class="input" ng-class="{'input-error': rcpCreate.errors.course}"
              ng-options="course.name for course in rcpCreate.courses">
        <option value="">Pick a course</option>
      </select>
      <br /><span class="error-details">{{rcpCreate.errors.course}}</span>
    </p>
    <p>Difficulty:
      <input type="number" min="1" max="5" class="input" ng-model="rcpCreate.recipe.difficulty"
             ng-class="{'input-error': rcpCreate.errors.difficulty}" />
      <span class="info">(Between 1 and 5)</span>
      <br /><span class="error-details">{{rcpCreate.errors.difficulty}}</span>
    </p>
    <div class="ingredients">
      <h3 class="list-title">Ingredients</h3>
      <span class="error-details">{{rcpCreate.errors.ingredients}}</span>
      <ul class="list">
        <li ng-repeat="ingredient in rcpCreate.recipe.ingredients">
          {{ingredient.qte}} <span ng-show="ingredient.unit">{{ingredient.unit }} of </span>{{ingredient.name}}
          <a ng-click="rcpCreate.deleteIngredient($index)"> (remove)</a>
        </li>
      </ul>
      <div class="list-add">
        <input type="text" class="input name" placeholder="Name" ng-model="rcpCreate.currentIngredient.name"
               ng-class="{'input-error': rcpCreate.errors.ingredient.name}" />
        <input type="number" class="input" min="0" placeholder="Quantity" ng-model="rcpCreate.currentIngredient.qte"
               ng-class="{'input-error': rcpCreate.errors.ingredient.qte}" />
        <input type="text" class="input" placeholder="Unit" ng-model="rcpCreate.currentIngredient.unit"
               ng-class="{'input-error': rcpCreate.errors.ingredient.unit}" />
        <button ng-click="rcpCreate.addIngredient()" class="btn bg-primary">+</button>
      </div>
      <span class="error-details">
        {{rcpCreate.errors.ingredient.name}} {{rcpCreate.errors.ingredient.qte}} {{rcpCreate.errors.ingredient.unit}}
      </span>
    </div>
    <div class="utensils">
      <h3 class="list-title">Utensils required</h3>
      <ul class="list">
        <li ng-repeat="utensil in rcpCreate.recipe.utensils">
          {{ utensil }}
          <a ng-click="rcpCreate.deleteUtensil($index)"> (remove)</a>
        </li>
      </ul>
      <div class="list-add">
        <input type="text" class="input" placeholder="Name" ng-model="rcpCreate.currentUtensil" />
        <button ng-click="rcpCreate.addUtensil()" class="btn bg-primary">+</button>
      </div>
      <span class="error-details">{{rcpCreate.errors.utensil}}</span>
    </div>
    <div class="next-step">
      <button class="bg-primary" ng-click="rcpCreate.nextStep()">Next</button>
    </div>
  </div>

  <!-- Recipe steps -->
  <div ng-show="rcpCreate.stepCreations">
    <div class="previous" ng-click="rcpCreate.previousStep()">
      <i class="fa fa-chevron-circle-left fa-5x"></i>
    </div>
    <div class="step">
      <h2 class="title">Step {{rcpCreate.currentStep.number}}</h2>
      <div class="timer">
        <i class="fa fa-clock-o"></i>
        <a ng-hide="rcpCreate.showTimer" ng-click="rcpCreate.toggleTimer()">
          Add timer
        </a>
        <span ng-show="rcpCreate.showTimer" >
          <input type="number" ng-model="rcpCreate.currentStep.time" min="0" placeholder="Number of minutes" />
          <a ng-click="rcpCreate.toggleTimer()">
            Remove timer
          </a>
        </span>
      </div>
      <span class="error-details">{{rcpCreate.errors.step.action}}{{rcpCreate.errors.step.time}}</span>
      <div class="action">
        <textarea ng-model="rcpCreate.currentStep.action" placeholder="To do..."></textarea>
      </div>
      <picture-upload image-uploaded="rcpCreate.currentStep.picture" target-url="rcpCreate.pictureUrl"
                      target-tags="rcpCreate.pictureStepTags" callback="rcpCreate.setUploadedPicture">
      </picture-upload>
      <div class="next-step">
        <button class="bg-primary" ng-click="rcpCreate.deleteStep()">Delete</button>
        <button class="bg-primary" ng-click="rcpCreate.lastStep()">Terminate</button>
      </div>
    </div>
    <div class="next">
      <i class="fa fa-chevron-circle-right fa-5x" ng-click="rcpCreate.nextStep()"></i>
    </div>
  </div>

  <!-- Final step -->
  <div ng-show="rcpCreate.stepFinal">
    <h2>Upload the main picture of your recipe</h2>
    <picture-upload image-uploaded="rcpCreate.recipe.picture" target-url="rcpCreate.pictureUrl"
                    target-tags="rcpCreate.pictureFinalTags" callback="rcpCreate.setUploadedPicture">
    </picture-upload>
    <button class="bg-primary" ng-click="rcpCreate.createRecipe()">Submit your recipe !</button>
  </div>
</div>
