/** Architecture **/
html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(60deg, #FFF0F5, #FFE4E1);
  height: 100%;
}
#wrapper{
  min-height: 100%;
  margin-bottom: -100px;
  position: relative;
}
.container{
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 100px;
}
footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer > .container {
  padding-bottom: 0;
}

/** Colors **/
.bg-primary{
  background-color: #800000;
  color: #fff;
}
.bg-primary:disabled{
  background-color: #600000;
  color: #ddd;
}
.bg-valid{
  background-color: green;
  color: white;
}
.bg-cancel{
  background-color: red;
  color: white;
}

/** Forms **/
.input-fw button, .input-fw input, .input-fw textarea{
  width: 100%;
  margin: 3px 0;
}
.input-fw textarea{
  resize: none;
}

.btn{
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}
.input {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-sizing: border-box;
}
.input[type="number"]{
  width: 70px;
}
.input-error{
  border-color: red !important;
  box-shadow: 0 0 5px red !important;
}
.error-details{
  color: #a94442;
  font-style: italic;
}

/** Stars **/
.fa.fa-star{
  color: #daa520;
}
.fa.fa-star-o{
  color: rgba(0,0,0,0.5);
}

/** Lists **/
.list-title{
  margin-bottom: 5px;
}
.list{
  list-style-type: none;
  width: 80%;
  margin-top: 5px;
  padding-left: 0;
}
.list li{
  border: 1px solid #ffcccc;
  background: rgba(255, 200, 200, 0.3);
  padding: 5px 10px;
  font-size: 1.5em;
}
.list li a{
  font-style: italic;
  cursor: pointer;
  color: #483d8b;
}

/** Outlined Forms **/
.outlined-form{
  max-width: 300px;
  margin: 30px auto;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 1px #800;
  border-radius: 5px;
}
.outlined-form  > .form-group{
  margin-bottom: 10px;
}
.outlined-form .input, .outlined-form .btn{
  width: 100%;
}
.outlined-form  > .form-actions{
  text-align: center;
}

/** Box **/
.box-white{
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

/** Cursors **/
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pointer-on {
  cursor: pointer;
}
