<nav class="menu-left" ng-class="{'menu-left-open': menuLeft.opened}">
  <div class="menu-left-content">
    <h3>Menu</h3>
    <a href ng-click="menuLeft.toggleDisplay()" ui-sref="recipeSearch">Search recipes</a>
    <a href ng-click="menuLeft.goToProfile()">Create a recipe</a>
    <a href="#">Game learning</a>
    <a href="#">Create a game</a>
    <a href ng-click="menuLeft.goToProfile()">Profile</a>
    <a href="#">Favorites</a>
  </div><div class="menu-left-toggle pointer-on" ng-click="menuLeft.toggleDisplay()">
    <i class="fa fa-bars fa-2x"></i>
  </div>
</nav>
