/** Main **/
.container.display-recipe{
  max-width: 600px;
  padding-top: 15px;
}

/** Recipe informations**/
.display-recipe h1{
  text-align: center;
}
.display-recipe .recipe-info{
  text-align: center;
}
.display-recipe .recipe-info span{
  margin: 5px 10px;
}
.display-recipe .recipe-image{
  width:95%;
  text-align: center;
  margin: 0 auto;
}
.display-recipe .recipe-image img{
  max-width: 90%;
  border-radius: 15px;
  margin-top: 10px;
  border: 1px solid #bbb;
  max-height: 400px;
  cursor: pointer;
}
.display-recipe .recipe-create-info{
  text-align: center;
}

/** Actions buttons **/
.display-recipe .recipe-actions {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.display-recipe .recipe-actions button{
  width: 40%;
  border-radius: 5px;
  border: 1px solid #ffcccc;
  font-size: 2em;
}

/** Steps **/
.display-recipe .previous, .display-recipe .next{
  display: inline-block;
  width: 15%;
  text-align: center;
  vertical-align: top;
  color: #800000;
  margin-top: 100px;
  cursor: pointer;
}
.display-recipe .step{
  width: 65%;
  display: inline-block;
  text-align: center;
}
.display-recipe .step .action{
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #fff;
  margin: 15px 0;
  font-size: 1.5em;
  border: 1px solid #c77;
}
.display-recipe .step img{
  max-width: 100%;
  border: 1px solid #c77;
  border-radius: 5px;
}
.display-recipe .step .timer{
  margin-top: 15px;
}
.display-recipe .step .timer > span{
  background-color: #800000;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.display-recipe .step .timer > span > button{
  background-color: rgba(255, 0, 0, 0);
  border: 0;
  color: white;
}


/** End of steps **/
.after-steps{
  text-align: center;
}

/** Thumbnails **/
.display-recipe .thumbnail-area h3{
  margin-bottom: 5px;
}
.display-recipe .thumbnail-area .thumbnails{
  height: 100px;
  overflow: hidden;
  animation: going 15s linear infinite;
}
.display-recipe .thumbnail-area .thumbnails .thumbnail{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.display-recipe .thumbnail-area .thumbnails .thumbnail img{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

/** Comments **/
.display-recipe .comment-area{
  width: 100%;
  margin-top: 10px;
}
.display-recipe .add-comment{
  text-align: center;
  width: 100%;
  border: 1px solid #a88;
  padding: 10px 0;
  background-color: #bdcdbd;
}
.display-recipe .add-comment h3{
  margin: 0 0 5px 0;
}
.display-recipe .add-comment .add-mark{
  margin-bottom: 5px;
  font-style: italic;
}
.display-recipe .add-comment textarea{
  width: 90%;
  height: 80px;
  resize: none;
  padding: 10px;
}
.display-recipe .add-comment button{
  width: 50%;
  border-radius: 5px;
  border: 0;
  padding: 10px 0;
  margin-top: 5px;
}
.display-recipe .comments{
  margin-top: 10px;
  width: 100%;
}
.display-recipe .comment{
  background-color: #e6e6e4;
  padding: 10px;
  display: table;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 5px;
}
.display-recipe .comment .profile-picture{
  margin: 0 10px 0 0;
}
.display-recipe .comment .profile-picture img{
  width: 60px;
  height: auto;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.display-recipe .content{
  width: 500px;
  display: table-cell;
  vertical-align: top;

}
.display-recipe .content .author{
  text-decoration: none;
}
.display-recipe .content .message-container{
  margin: 10px 0 0 0;
  background: #fff;
  border: 1px solid #d6d6d4;
  padding: 10px;
}
.display-recipe .content .message-container .info-top{
  border-bottom: 1px solid #d6d6d4;
  font-style: italic;
}
