<div class="container create-quiz">

  <!-- Navigation -->
  <div class="navigation" ng-hide="quizCreate.infoPage">
    <step-line graph="quizCreate.lineGraph"
               steps="quizCreate.questionsInfos"
               current="quizCreate.qNb"
               step-clicked="quizCreate.goTo"></step-line>
    <button class="btn btn-submit">
      <i class="fa fa-trash-o pointer-on" ng-click="quizCreate.deleteQuestion()"> Delete</i>
    </button>
  </div>

  <!-- Infos -->
  <div ng-show="quizCreate.infoPage" class="info-page input-fw">
    <h2 class="title">Create a Quiz</h2>
    <p>Set a title for you quiz:</p>
    <input type="text" class="input" ng-model="quizCreate.quiz.title" placeholder="Quiz title" />
    <p>Main picture of your quiz:</p>
    <picture-upload image-uploaded="quizCreate.quiz.picture" target-url="quizCreate.pictureUrl"
                    target-tags="quizCreate.pictureInfoTags"
                    callback="quizCreate.setUploadedPictureInfo"></picture-upload>
    <button class="btn btn-submit" ng-disabled="quizCreate.quiz.title.length < 5"
            ng-click="quizCreate.nextQuestion()">Create questions</button>
  </div>

  <!-- Questions -->
  <div class="questions input-fw" ng-hide="quizCreate.infoPage">
    <div class="title">
      <label>
        Your question:
        <input type="text" class="input" ng-model="quizCreate.currentQuestion.title" placeholder="Type your question here"/>
      </label>
      <span class="error-details">{{quizCreate.errors.title}}</span>
    </div>
    <div class="answer-type">
      <p>Answer type:</p>
      <label>
        <input type="radio" ng-model="quizCreate.currentQuestion.type" value="text"
               ng-click="quizCreate.resetAnswer()" />
        Text
      </label>
      <label>
        <input type="radio" ng-model="quizCreate.currentQuestion.type" value="images"
               ng-click="quizCreate.resetAnswer()" />
        Images
      </label>
    </div>

    <!-- Answers -->
    <div class="answers">
      <!-- Text -->
      <div class="text" ng-if="quizCreate.currentQuestion.type === 'text'">
        <ul class="list">
          <li ng-repeat="answer in quizCreate.currentQuestion.answers">
            <i class="fa" ng-class="{'fa-check': answer.correct,'fa-close': !answer.correct}"></i> {{answer.text}}
            <i class="fa fa-minus-square-o" ng-click="quizCreate.deleteAnswer($index)"></i>
          </li>
        </ul>
        <div class="add-answer">
          <h3>Add answers</h3>
          <input type="text" class="input" placeholder="Answer" ng-model="quizCreate.currentAnswer.text"/>
        </div>
      </div>
      <!-- Images -->
      <div class="images" ng-if="quizCreate.currentQuestion.type === 'images'">
        <!-- Images answers -->
        <div masonry>
          <div class="masonry-brick masonry-nb-2 t-normal" ng-repeat="answer in quizCreate.currentQuestion.answers">
            <img ng-src="{{answer.picture.public_id | formatImg:220:150}}" alt="answer.text" />
            <div class="recipe-title">
              <h2>{{answer.text}}</h2>
            </div>
          </div>
        </div>
        <div class="add-answer input-fw">
          <input type="text" class="input" placeholder="Text on picture (optional)"
                 ng-model="quizCreate.currentAnswer.text" />
          <picture-upload image-uploaded="quizCreate.currentAnswer.picture" target-url="quizCreate.pictureUrl"
                          target-tags="quizCreate.pictureAnswerTags"
                          callback="quizCreate.setUploadedPictureAnswer"></picture-upload>
        </div>
      </div>
      <span class="error-details">{{quizCreate.errors.answers}}</span>
      <div class="answer-veracity">
        <i class="fa fa-close fa-2x pointer-on" ng-click="quizCreate.addAnswer(false)"> Uncorrect</i>
        <i class="fa fa-check fa-2x pointer-on" ng-click="quizCreate.addAnswer(true)"> Correct</i>
      </div>
    </div>

    <div class="submits">
      <button class="btn btn-submit w-half" ng-click="quizCreate.nextQuestion()">Next question</button>
      <button class="btn btn-submit w-half" ng-click="quizCreate.createGame()">Finish quiz</button>
    </div>
  </div>
</div>
