<div class="edit-profile">
  <aside>
    <div class="profile-picture pointer-on" ng-click="profView.showProfilePicture()">
      <img ng-src="{{profView.profile.picture.public_id | formatImg:200:200 }}" />
    </div>
    <div class="input-fw" ng-if="profView.isProfile()">
      <button class="btn pointer-on" ui-sref="profileEdit({username: profView.profile.username})">Edit profile</button>
    </div>
  </aside>
  <div class="profile-info">
    <h2>{{profView.profile.username}}</h2>
    <hr />
    <p>{{profView.profile.description}}</p>
    <hr />
    <p>{{profView.profile.dob | ageFromDob}} Ans <i class="fa fa-map-marker"></i> {{profView.profile.location}}</p>

    <div class="recent-activity">
      <h3>Recent activity</h3>
      <user-activities user-picture="profView.profile.picture.public_id" activities="profView.profile.activities"></user-activities>
    </div>
  </div>
</div>
