.login form{
  max-width: 300px;
  margin: 30px auto;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 0px 1px #800;
  border-radius: 5px;
}

.login > form  > .form-group{
  margin-bottom: 10px;
}

.login > form .input, .login > form .btn{
  width: 100%;
}

.login > form  > .form-actions{
  text-align: center;
}

