<div class="signup">
  <form name="registerForm" ng-submit="signup.register()" role="form" class="outlined-form">
    <div class="form-group">
      <label>
        Username
        <input type="text" name="username" class="input" ng-model="signup.user.username" ng-minlength="2" required />
      </label>
      <span ng-show="registerForm.username.$dirty && registerForm.username.$error.required" class="help-block">
        Username required
      </span>
    </div>
    <div class="form-group">
      <label>
        E-mail
        <input type="email" name="email" class="input" ng-model="signup.user.email" required />
      </label>
      <span ng-show="registerForm.email.$dirty && registerForm.email.$error.required" class="help-block">
        E-mail is required
      </span>
    </div>
    <div class="form-group">
      <label>
        Password
        <input type="password" name="password" class="input" ng-model="signup.user.password" ng-minlength="6" required />
      </label>
      <span ng-show="registerForm.password.$dirty && registerForm.password.$error.required" class="help-block">
        Password is required
      </span>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" name="terms" ng-model="termsAccepted" />
        I agree with <a ui-sref="terms">terms and conditions</a>
      </label>
    </div>
    <div class="form-actions">
      <div ng-show="signup.error" class="alert alert-danger">{{signup.error}}</div>
      <button ng-type="submit" ng-disabled="registerForm.$invalid || dataLoading || !termsAccepted"
              class="btn btn-danger bg-primary">
        Register
      </button>
    </div>
  </form>
</div>
