<div class="container display-quiz">
  <div class="quiz" ng-hide="quizDisplay.endOfQuiz">
    <!-- Progress -->
    <progress ng-value="quizDisplay.getProgress()"></progress>
    <!-- Quiz title + like -->
    <h1>{{quizDisplay.quiz.title}}</h1>

    <!-- Info -->
    <div class="info">
      Author: {{quizDisplay.quiz.author.username}} - Your score: <i class="fa fa-star t-slow"></i> {{quizDisplay.score}}
    </div>

    <!-- Title -->
    <h3  class="question-title">Question: {{quizDisplay.currentQuestion.title}}</h3>

    <div class="list">
      <!-- Text answers -->
      <label class="answer" ng-repeat="answer in quizDisplay.currentQuestion.answers"
             ng-if="quizDisplay.currentQuestion.type === 'text'">
        <input type="radio" ng-model="quizDisplay.currentQuestion.answer"
               ng-if="!quizDisplay.isMultiAnswer()" ng-value="answer.text"
               ng-click="quizDisplay.validateAnswer()" />
        <input type="checkbox" ng-model="answer.checked" ng-if="quizDisplay.isMultiAnswer()"/>
        {{answer.text}}
      </label>

      <!-- Images answers -->
      <div masonry>
        <div class="masonry-brick masonry-nb-2 t-nornal" ng-repeat="answer in quizDisplay.currentQuestion.answers"
             ng-if="quizDisplay.currentQuestion.type === 'images'" ng-click="quizDisplay.onClickAnswer(answer)">
          <img ng-src="{{answer.picture.public_id | formatImg:220:150}}" alt="answer.text" />
          <div class="recipe-title">
            <h2>{{answer.text}}</h2>
          </div>
        </div>
      </div>

    </div>
    <!-- Submit button-->
    <button class="btn btn-submit" ng-if="quizDisplay.isMultiAnswer()" ng-click="quizDisplay.validateAnswer()">
      Submit
    </button>
  </div>

  <!-- Quiz finished info -->
  <div class="quiz-finished" ng-show="quizDisplay.endOfQuiz">
    <h1><i class="fa fa-star t-slow"></i> Quiz finished <i class="fa fa-star t-slow"></i></h1>

    <!-- Stats -->
    <div class="stats">
      <h3 class="list-title">Stats</h3>
      <ul class="list">
        <li>Final score: {{quizDisplay.score}}</li>
        <li>{{quizDisplay.quiz.questions.length}} questions answered</li>
        <li>{{quizDisplay.nbMistake}} mistakes</li>
      </ul>
    </div>

    <h3>Your new score is now: {{quizDisplay.totalScore}}</h3>

    <!-- Like -->
    <p ng-hide="quizDisplay.liked">
      Enjoyed that quiz?
      <span class="pointer-on" ng-click="quizDisplay.like()">
        Like it
        <i class="fa fa-heart"></i>
      </span>
    </p>
    <p ng-show="quizDisplay.liked">
      Thanks !
    </p>

    <!-- Menu -->
    <button class="btn btn-submit pointer-on" ng-click="quizDisplay.retry()">
      <i class="fa fa-repeat"></i> Retry
    </button>
    <button class="btn btn-submit pointer-on" ng-click="quizDisplay.goToSearch()">
      <i class="fa fa-bars"></i> Search Quiz
    </button>
  </div>
</div>
