<div class="container display-quiz">
  <h1>{{quizDisplay.quiz.title}}</h1>
  <div class="score">
    <progress ng-value="quizDisplay.getProgress()"></progress>
    <i class="fa fa-star t-slow"></i> {{quizDisplay.score}}
  </div>
  <div class="" ng-hide="quizDisplay.endOfQuiz">
    <p>{{quizDisplay.currentQuestion.title}}</p>

    <div class="list">
      <!-- Text answers -->
      <label class="answer" ng-repeat="answer in quizDisplay.currentQuestion.answers"
             ng-if="quizDisplay.currentQuestion.type === 'text'">
        <input type="radio" ng-model="quizDisplay.currentQuestion.answer"
               ng-if="!quizDisplay.isMultiAnswer()" ng-value="answer.text"
               ng-click="quizDisplay.validateAnswer()" />
        <input type="checkbox" ng-model="answer.checked" ng-if="quizDisplay.isMultiAnswer()"/>
        {{answer.text}}
      </label>

      <!-- Images answers -->
      <div masonry>
        <div class="masonry-brick masonry-nb-2 t-nornal" ng-repeat="answer in quizDisplay.currentQuestion.answers"
             ng-if="quizDisplay.currentQuestion.type === 'images'" ng-click="quizDisplay.onClickAnswer(answer)">
          <img ng-src="{{answer.picture.public_id | formatImg:220:150}}" alt="answer.text" />
          <div class="recipe-title">
            <h2>{{answer.text}}</h2>
          </div>
        </div>
      </div>

    </div>
    <!-- Submit button-->
    <button class="btn btn-submit" ng-if="quizDisplay.isMultiAnswer()" ng-click="quizDisplay.validateAnswer()">
      Submit
    </button>
  </div>
  <div ng-show="quizDisplay.endOfQuiz">
    {{quizDisplay.score}}
  </div>
</div>
