<div ng-controller="PictureUploadCtrl">
  <div class="add-picture" ng-app="fileUpload" ng-hide="uploadProgress">
      <div ngf-drop ngf-select ng-model="files" class="drop-box"
          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
          accept="image/*">
        <div ng-hide="imageUploaded">
          <i class="fa fa-camera fa-3x"></i>
          <p>Add or Drop picture<p>
        </div>
        <div class="preview" ng-if="imageUploaded">
          <img ng-src="{{imageUploaded.url}}"/>
        </div>
        {{imageUploaded}}
      </div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
  </div>
  <div ng-show="uploadProgress" class="drop-box">
    <progress value="{{uploadProgress}}" max="100"></progress>
  </div>
</div>
